.Ser-Main-Container {
    /* border: 2px solid #6739B7; */
    height: 40vh;
    width: 100%;
    background-color: rgb(247, 243, 243);
    /* background: aliceblue; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 32px;

}

.sec {
    border: 1px solid #6739B7;
    border-radius: 5px;
    height: 35vh;
    width: 20vw;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.sec-middle div {
    border-bottom: 1px solid #6739B7;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    padding: 4px;
}
.ser-icon{
background-color: aliceblue;
border-radius: 50%;
padding: 0.5em;
}


@media only screen and (max-width: 477px) {
    .Ser-Main-Container {
        margin-top: 32px;
        height: 90vh;
    }
    .sec {
        height: 25vh;
        width: 50vw;
        margin: 12px;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }

    .Nav-Container ul {
        display: none;
    }
}
